
//-----Background image, selected buttons and buttons hover overlay
%overlay {                        
    background-color: $overlay-opacity;  
}

//-----Base styles for the buttons
%btn {   
    @include border($primary-color);  
    padding: 4px 12px;
    color: $primary-color;
    font-family: $primary-font;
    background-color: transparent;
    &:hover {
        @extend %mouseOver;
    }
}

//-----Styles for the buttons and hover states
%mouseOver {
    @extend %overlay;
    @include border($secondary-color);
    cursor: pointer;
    -moz-transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}
