//-------------Colors-------------------
$brand-color: #fff;
$dark-brand-color: #000;
$base-color: #eef2f3;
$overlay-opacity: rgba(0, 0, 0, 0.3);

//-------------Gradients----------------

$search-color: #00c6ff, #0072ff;
$places-color: #fe8c00, #f83600;
$weblink-color: #7303c0, #ec38bc;

//-------------Fonts--------------------
$primary-font: 'Roboto',
sans-serif;
$logo-font: 'Kaushan Script',
cursive;

