
//-------------Colors-------------------
$primary-color: #fff;
$secondary-color: #000;
$overlay-opacity: rgba(0, 0, 0, 0.3);

//-------------Gradients----------------

$lightBlueDarkBlue: #00c6ff, #0072ff;
$lightOragneDarkOrange: #fe8c00, #f83600;

//-------------Fonts--------------------
$primary-font: 'Kaushan Script',
cursive;
$secondary-font: 'Roboto',
sans-serif;
