
//-------------Colors-------------------
$primary-color: #fff;
$secondary-color: #000;
$overlay-opacity: rgba(0, 0, 0, 0.3);

//-------------Gradients----------------

$search-color: #00c6ff, #0072ff;
$places-color: #fe8c00, #f83600;
$info-color: #7303c0, #ec38bc;

//-------------Fonts--------------------
$primary-font: 'Kaushan Script',
cursive;
$secondary-font: 'Roboto',
sans-serif;
