@import "helpers/_variables.scss";
@import "helpers/_mixins.scss";
@import "helpers/_helpers.scss";

/*----------------Background and Overlay---------------*/

body {
    color: $primary-color;
    font-size: 1.10em;
    font-family: $secondary-font;
}

.over-lay {
    @extend %overlay;
}

/*----------------Header---------------*/ //needs organising!
header {
    background: url(https://www.hiusa.org/images/uploads/explore-the-world-image.jpg) no-repeat center center scroll; //background: url(../images/beach.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    @include border($primary-color);
    padding: 5px 15px;
    display: inline-block;
    font: {
        family: $primary-font;
        size: 45px;
    }
}

/*----------------Intoduction Section---------------*/

header {
    section:first-child {
        height: 25vh;
    }
    section:nth-child(2) {
        min-height: 75vh;
    }
    .intro-wrapper {
        margin-bottom: 40px;
        h3 {
            font: {
                family: $primary-font;
                size: 22px;
            }
        }
        p {
            margin-bottom: 40px;
        }
        #scrollToMap {
            @extend %btn;
            @include border($primary-color);
        }
    }
}

/*--------------Main--------------------*/

/*--------------Search and filters---------------*/

.map-header {
    height: 15vh;
    background-color: #eef2f3;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    .logo2 {
        font-family: $primary-font;
        @include border(#000);
        margin: 0;
        padding: 2px;
        width: 150px;
        color: #000;
    }
    .map-btns {
        font-size: 16px;
        @extend %btn;
    }
    #search-btn {
        @include border(#0ED2F7);
        @include gradient($search-color);
        &:hover {
            @include border($secondary-color);
            @include glow(#0ED2F7);
        }
    }
    #places-btn {
        margin-left: 10px;
        @include border(#fb6000);
        @include gradient($places-color);
        &:hover {
            @include border($secondary-color);
            @include glow(#fb6000);
        }
    }
}

.glow {
    @include glow(#fb6000); //Adds a glow effect to a button
}

/*----------------Map and components---------------*/

input[type=search]::-webkit-search-cancel-button {
    //This will override bootstrap so clear button appears in search
    -webkit-appearance: searchfield-cancel-button;
}

.search-container {
    position: absolute;
    z-index: 2;
    @include gradient($search-color);
    .search {
        width: 85%;
        height: 28px;
        padding-left: 5px;
        margin: 15px 0px 25px 0px;
        font-size: 16px;
        color: $primary-color;
        font-weight: 300;
        background-color: transparent;
        @include border($primary-color);
    }
}

.menu-heading {
    margin-top: 10px;
    font-weight: 300;
}

.map-wrapper {
    padding: 0;
    #map {
        height: 80vh;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        max-height: 100%;
        padding-bottom: 20px; //height: 100%;
        @include gradient($places-color);
        overflow: auto;
        .place-type {
            padding: 0;
            button {
                width: 90%;
                margin-top: 10px;
                @extend %btn;
                font: {
                    family: $secondary-font;
                    size: 15px;
                }
                word-wrap: break-word;
            }
            .selected {
                border-color: $secondary-color;
                @extend %overlay;
            }
        }
    }
}

/*----------------Tap Map Instruction Popup---------------*/

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .wrapper {
        height: 100%;
        h4 {
            font-weight: 300;
        }
    }
}


/*----------------Info Window---------------*/

#place-details {
    margin-right: 15px;
    ul {
        list-style-type: none;
        color: $secondary-color;
        font-weight: 500;
        #place-name {
            border-bottom: 1px solid #000;
            color: $secondary-color;
            font: {
                family: $primary-font;
                size: 21px;
            }
        }
        p {
            font-weight: 400;
        }
        #url {
            @extend %btn;
            @include border(#7303c0);
            @include gradient($info-color);
            &:hover {
                @include glow(#7303c0);
            }
            a {
                font-size: 15px;
                color: $primary-color;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

/*----------------Footer-------------------------------------*/

footer {
    height: 5vh;
    background-color: #eef2f3;
    border-top: 1px solid #000;
    overflow: auto;
    color: $secondary-color;
    font: {
        family: $primary-font;
        weight: 300;
        size: 90%;
    }
    p {
        margin: 0px;
    }
    a {
        margin-left: 5px;
        color: $secondary-color;
        &:hover {
            @extend %mouseOver;
            color: $primary-color;
            background-color: transparent;
            border: none;
        }
    }
}

/*----------------Media Queries for large screens---------------*/

@media (min-width: 576px) {

    .map-header {
        height: 7vh;
    }
    .map-wrapper {
        #map {
            height: 89vh;
        }
    }
    footer {
        height: 4vh;
    }
}

/*----------------Media Queries for small mobile devices when rotated horizontally---------------*/

@media (max-height: 450px) and (max-width: 576px) {

    .map-header {
        height: 25vh;
    }
    .map-wrapper {
        #map {
            height: 67vh;
        }
    }

    footer {
        height: 8vh;
    }
}

/*----------------Media Queries for slightly bigger mobie devices when rotated horizontally---------------*/

@media (max-height: 450px) and (min-width: 576px) {

    .map-header {
        height: 14vh;
    }
    .map-wrapper {
        #map {
            height: 79vh;
        }
    }

    footer {
        height: 7vh;
    }
}
