/*font-family: 'Kaushan Script', cursive;
font-family: 'Open Sans Condensed', sans-serif;*/
.intro-wrapper .button:hover, .search-wrapper .places-btn:hover, .map-wrapper .menu .place-type button:hover, .footer ul a:hover, .over-lay, .search-wrapper .search {
  background-color: rgba(0, 0, 0, 0.3); }

.intro-wrapper .button, .search-wrapper .places-btn, .map-wrapper .menu .place-type button {
  border: 1px solid #fff;
  padding: 4px 12px;
  color: #fff;
  background-color: transparent;
  font-family: "Kaushan Script", cursive; }

.intro-wrapper .button:hover, .search-wrapper .places-btn:hover, .map-wrapper .menu .place-type button:hover, .footer ul a:hover {
  border: 1px solid #3accd5;
  color: #3accd5;
  cursor: pointer;
  -moz-transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out; }

/*----------------Background and Overlay---------------*/
body {
  color: #fff;
  font-size: 1.25em;
  font-family: "Open Sans Condensed", sans-serif;
  background: url(../images/beach.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/*----------------Header---------------*/
.logo {
  border: 1px solid #fff;
  margin: 80px 0px 50px 0px;
  padding: 5px 15px;
  display: inline-block;
  font-family: "Kaushan Script", cursive;
  font-size: 45px; }

/*----------------Intoduction Section---------------*/
.intro-wrapper {
  margin-bottom: 150px; }
  .intro-wrapper .welcome {
    font-family: "Kaushan Script", cursive;
    font-size: 28px; }
  .intro-wrapper p {
    margin-bottom: 45px; }
  .intro-wrapper .button {
    text-decoration: none; }

/*--------------Search and filters---------------*/
.search-wrapper {
  margin-bottom: 4px; }
  .search-wrapper .places-btn {
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.3); }
  .search-wrapper .search {
    color: #fff;
    width: 170px;
    height: 35px;
    border: 1px solid #fff; }

/*----------------Map and components---------------*/
.map-wrapper {
  padding: 0; }
  .map-wrapper #map {
    height: 85vh; }
  .map-wrapper .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
    .map-wrapper .menu .place-type {
      height: 49px;
      padding: 0;
      border: 1px solid #000; }
      .map-wrapper .menu .place-type button {
        width: 90%;
        margin-top: 10px;
        font-size: 70%; }
      .map-wrapper .menu .place-type .selected {
        color: #3accd5;
        border-color: #3accd5; }

/*----------------Info Window---------------*/
#place-details {
  margin-right: 15px; }
  #place-details ul {
    list-style-type: none; }
    #place-details ul #place-name {
      font-family: "Kaushan Script", cursive;
      font-size: 18px;
      color: #000; }

/*----------------Footer---------------*/
.footer {
  position: relative;
  bottom: 0;
  left: 0; }
  .footer ul {
    margin: 0px; }
    .footer ul p {
      margin: 4px; }
    .footer ul a {
      color: #fff; }
      .footer ul a:hover {
        background-color: transparent;
        border: none; }

/*# sourceMappingURL=main.css.map */
