header #scrollToMap:hover, .map-header .map-btns:hover, .map-wrapper .menu .place-type button:hover, #place-details ul .weblink:hover, footer a:hover, .over-lay, .map-wrapper .menu .place-type .selected {
  background-color: rgba(0, 0, 0, 0.3); }

header #scrollToMap, .map-header .map-btns, .map-wrapper .menu .place-type button, #place-details ul .weblink {
  border: 1px solid #fff;
  padding: 4px 12px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  background-color: transparent; }

header #scrollToMap:hover, .map-header .map-btns:hover, .map-wrapper .menu .place-type button:hover, #place-details ul .weblink:hover, footer a:hover {
  border: 1px solid #000;
  cursor: pointer;
  -moz-transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out; }

/*----------------Background and Overlay---------------*/
body {
  color: #fff;
  font-size: 1.10em;
  font-family: "Roboto", sans-serif; }

/*----------------Header---------------*/
header {
  background: url(https://www.hiusa.org/images/uploads/explore-the-world-image.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/*----------------Intoduction Section---------------*/
header .logo {
  border: 1px solid #fff;
  margin: 30px 0px;
  padding: 5px 15px;
  display: inline-block;
  font-family: "Kaushan Script", cursive;
  font-size: 45px; }
header .intro-wrapper {
  margin-bottom: 40px; }
  header .intro-wrapper h3 {
    font-family: "Kaushan Script", cursive; }
  header .intro-wrapper hr {
    background-color: #fff; }
  header .intro-wrapper p {
    margin-bottom: 40px; }
header #scrollToMap {
  border: 1px solid #fff; }

/*--------------Main--------------------*/
/*-------User guide images------------------*/
.guide-images-wrapper {
  background-color: #eef2f3; }
  .guide-images-wrapper h5 {
    font-family: "Kaushan Script", cursive;
    color: #000;
    margin-top: 15px; }
  .guide-images-wrapper img {
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 10px; }

/*--------------Search and filters---------------*/
.map-header {
  height: 15vh;
  background-color: #eef2f3;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }
  .map-header .logo2 {
    font-family: "Kaushan Script", cursive;
    border: 1px solid #000;
    margin: 0;
    padding: 2px;
    width: 150px;
    color: #000; }
  .map-header .map-btns {
    font-size: 16px; }
  .map-header #search-btn {
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
    border: 1px solid #0ED2F7; }
    .map-header #search-btn:hover {
      border: 1px solid #000;
      box-shadow: 0px 0px 10px 3px #0ED2F7;
      -moz-transition: all 0.20s ease-in-out;
      -webkit-transition: all 0.20s ease-in-out;
      -o-transition: all 0.20s ease-in-out; }
  .map-header #places-btn {
    margin-left: 10px;
    background-image: linear-gradient(to right, #fe8c00, #f83600);
    border: 1px solid #fb6000; }
    .map-header #places-btn:hover {
      border: 1px solid #000;
      box-shadow: 0px 0px 10px 3px #fb6000;
      -moz-transition: all 0.20s ease-in-out;
      -webkit-transition: all 0.20s ease-in-out;
      -o-transition: all 0.20s ease-in-out; }

.glow {
  box-shadow: 0px 0px 10px 3px #fb6000;
  -moz-transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out; }

/*----------------Map and components---------------*/
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  /*This overrides bootstrap's css so a clear 
  button appears in the search bar*/ }

.search-container {
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(to right, #00c6ff, #0072ff); }
  .search-container .search {
    width: 85%;
    height: 28px;
    padding-left: 5px;
    margin: 15px 0px 25px 0px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300; }

.menu-heading {
  margin-top: 10px;
  font-weight: 300; }

.map-wrapper {
  padding: 0; }
  .map-wrapper #map {
    height: 80vh; }
  .map-wrapper .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    max-height: 100%;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, #fe8c00, #f83600);
    overflow: auto; }
    .map-wrapper .menu .place-type {
      padding: 0; }
      .map-wrapper .menu .place-type button {
        width: 90%;
        margin-top: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        word-wrap: break-word; }
      .map-wrapper .menu .place-type .selected {
        border-color: #000; }

/*----------------Tap Map Instruction Popup---------------*/
.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none; }
  .popup .wrapper {
    height: 100%; }
    .popup .wrapper h4 {
      font-weight: 300; }

/*----------------Info Window---------------*/
#place-details {
  margin-right: 15px; }
  #place-details ul {
    list-style-type: none;
    color: #000;
    font-weight: 500; }
    #place-details ul #place-name {
      border-bottom: 1px solid #000;
      color: #000;
      padding-bottom: 2px;
      margin-bottom: 7px;
      font-family: "Kaushan Script", cursive;
      font-size: 21px; }
    #place-details ul p {
      font-weight: 400; }
    #place-details ul .weblink {
      position: relative;
      background-image: linear-gradient(to right, #7303c0, #ec38bc);
      border: 1px solid #7303c0;
      font-size: 15px; }
      #place-details ul .weblink:hover {
        box-shadow: 0px 0px 10px 3px #7303c0;
        -moz-transition: all 0.20s ease-in-out;
        -webkit-transition: all 0.20s ease-in-out;
        -o-transition: all 0.20s ease-in-out;
        text-decoration: none; }
    #place-details ul .cover {
      position: relative;
      top: -27px;
      left: 0;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.7);
      font-size: 14px;
      padding: 9px 4px;
      display: inline-block; }

/*----------------Footer-------------------------------------*/
footer {
  height: 5vh;
  background-color: #eef2f3;
  border-top: 1px solid #000;
  overflow: auto;
  color: #000;
  font-family: "Kaushan Script", cursive;
  font-weight: 300;
  font-size: 90%; }
  footer p {
    margin: 0px; }
  footer a {
    margin-left: 5px;
    color: #000; }
    footer a:hover {
      color: #fff;
      background-color: transparent;
      border: none; }

/*----------------Media Queries for medium and large screens---------------*/
@media (min-width: 576px) {
  /*-----This adjusts the Intro and guide images to fit nicley in the viewport----------*/
  header .logo {
    margin: 80px 0px 40px 0px; }
  header .intro-wrapper {
    margin-bottom: 120px; }
    header .intro-wrapper p {
      margin-bottom: 70px; }

  .guide-images-wrapper img {
    margin-bottom: 30px; }

  /*-----This makes then map interface fit 100% of the viewport----------------*/
  .map-header {
    height: 7vh; }

  .map-wrapper #map {
    height: 89vh; }

  footer {
    height: 4vh; } }
/*----------------Media Queries for small mobile devices when rotated horizontally---------------*/
@media (max-height: 450px) and (max-width: 576px) {
  header .logo {
    margin: 10px 0px; }
  header .intro-wrapper {
    margin-bottom: 10px; }
    header .intro-wrapper p {
      margin-bottom: 20px; }

  .map-header {
    height: 25vh; }

  .map-wrapper #map {
    height: 67vh; }

  footer {
    height: 8vh; } }
/*----------------Media Queries for slightly bigger mobie devices when rotated horizontally---------------*/
@media (max-height: 450px) and (min-width: 576px) {
  header .logo {
    margin: 10px 0px; }
  header .intro-wrapper {
    margin-bottom: 20px; }
    header .intro-wrapper p {
      margin-bottom: 20px; }

  .map-header {
    height: 14vh; }

  .map-wrapper #map {
    height: 79vh; }

  footer {
    height: 7vh; } }

/*# sourceMappingURL=main.css.map */
