/*font-family: 'Kaushan Script', cursive;
font-family: 'Open Sans Condensed', sans-serif;*/

@import "helpers/_variables.scss";
@import "helpers/_mixins.scss";
@import "helpers/_helpers.scss";

/*----------------Background and Overlay---------------*/

body {
    color: $primary-color;
    font-size: 1.25em;
    font-family: $secondary-font;
}

.over-lay {
    @extend %overlay;
}

/*----------------Header---------------*/

header {
    background: url(../images/beach.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    @include border($primary-color);
    margin: 80px 0px 50px 0px;
    padding: 5px 15px;
    display: inline-block;
    font: {
        family: $primary-font;
        size: 45px;
    }
}

/*----------------Intoduction Section---------------*/

.intro-wrapper {
    margin-bottom: 200px;
    .welcome {
        font: {
            family: $primary-font;
            size: 28px;
        }
    }
    p {
        margin-bottom: 45px;
    }
    .button {
        @extend %btn;
        @include border($primary-color);
        text-decoration: none;
    }
}

/*--------------Search and filters---------------*/

.map-heading {
    //height: 14vh;
    background-color: #eef2f3;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    .logo2 {
        font-family: $primary-font;
        @include border(#000);
        margin-top: 10px;
        margin-left: 4px;
        padding: 2px;
        width: 150px;
        color: #000;
    }
    .map-btns {
        margin: 10px 10px;
        font-size: 16px;
        @extend %btn;
        @include border(#0ED2F7);
        background-image: linear-gradient(to right, #00c6ff, #0072ff);
    }
}

.search-container {
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
    position: absolute;
    z-index: 1;
    .search {
        width: 85%;
        height: 28px;
        padding-left: 5px;
        margin: 15px 0px;
        color: #fff;
        background-color: transparent;
        @include border($primary-color);
    }
}

/*----------------Map and components---------------*/

.map-wrapper {
    padding: 0;
    #map {
        height: 80vh;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        .place-type {
            height: 49px;
            padding: 0;
            button {
                width: 90%;
                margin-top: 10px;
                font-size: 75%;
                @extend %btn;
            }
            .selected {
                color: $secondary-color;
                border-color: $secondary-color;
            }
        }
    }
}


/*----------------Info Window---------------*/

#place-details {
    margin-right: 15px;
    ;
    ul {
        list-style-type: none;
        #place-name {
            font-family: $primary-font;
            font-size: 18px;
            color: #000;
        }
    }
}

/*----------------Footer---------------*/

footer {
    position: relative;
    bottom: 0;
    left: 0;
    height: 5vh;
    font-size: 17px;

    ul {
        margin: 0px;

        p {
            margin: 0px;
        }

        a {
            color: $primary-color;
            &:hover {
                @extend %mouseOver;
                background-color: transparent;
                border: none;
            }
        }
    }
}
